<!DOCTYPE html>
<meta charset="utf-8">

<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/mathjs/5.0.0/math.min.js"></script>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>AQI Data</title>
	<style>

  .bar{
    fill: steelblue;
  }

  .bar:hover{
    fill: gray;
  }

	.axis {
	  font: 10px sans-serif;
	}

	.axis path,
	.axis line {
	  fill: none;
	  stroke: #000;
	  shape-rendering: crispEdges;
	}

  #bar {
    padding-left: 100px !important;
    margin-left: 0!important;
    margin-top:20px;
  }

  svg {
    padding-left:0!important;
    margin-left: 0!important;
  }

  g {
    margin-left: 0!important;
    padding-left:0!important;
  }

  /* nav {
    width:1880px;
  } */

	</style>
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark" id="bbb">
    <div class="container-fluid">
      <a class="navbar-brand" href="http://localhost:5000/">Air Quality</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse justify-content-end" id="navbarNavDropdown">
          <ul class="navbar-nav ">
            <li class="nav-item dropdown active">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Plots
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                  <a class="dropdown-item" href="marker.html" target="_blank">Air Quality Visualization</a>
                  <a class="dropdown-item" href="bar.html" target="_blank">Bar Graph</a>
                  <a class="dropdown-item" href="scatter_hu.html" target="_blank">Humidity</a>
                  <a class="dropdown-item" href="scatter_ws.html" target="_blank">Wind Speed</a>
              </div>
            </li>
            <!-- <li class="nav-item ">
              <a class="nav-link" href="comparison.html">Comparisons </a>
            </li> -->
            <li class="nav-item">
              <a class="nav-link" target="_blank" href="livedata">Live Data</a> <!--from localhost-->
            </li>
          </ul>
      </div>
    </div>  
</nav>
<div class="container" id = 'bar'>
  <div id="drop2" align=left></div>
</div>


<script src="https://d3js.org/d3.v3.min.js"></script>

<script>
// set the dimensions of the canvas
var margin = {top: 100, right: 180, bottom: 100, left: 180},
    width = 2000 - margin.left - margin.right,
    height = 500 - margin.top - margin.bottom;


// set the ranges
var x = d3.scale.ordinal().rangeRoundBands([0, width], .1);
var y = d3.scale.linear().range([height, 0]);

// define the axis
var xAxis = d3.svg.axis()
    .scale(x)
    .orient("bottom")


var yAxis = d3.svg.axis()
    .scale(y)
    .orient("left")
    .ticks(10);


// add the SVG element
var svg = d3.select("body").append("svg")
    .attr("width", width + margin.left + margin.right)
    .attr("height", height + margin.top + margin.bottom)
    .append("g")
    .attr('class','img-fluid')
    .style('padding-left','0px')
    .attr("transform", "translate(" + margin.left + "," + margin.top + ")");


// load the data
d3.json("data.json", function(error, data) {

  var data = data.filter(function(d){return d.status === 'success';});
  console.log(data);

  var dataY=[];
  data.forEach(function(element) {
    dataY.push(element.data);
});

console.log(dataY[0].current);

  var elements = Object.keys(dataY[0].current.weather)
		.filter(function(d){
			return ((d != "ic") & (d != "ts") & (d != "wd"));
    });
  console.log(elements);

  var selection = elements[0];
  console.log(selection);

  var current = dataY.filter(function(d){return d.current.weather != null;});
  console.log(current);

    current.forEach(function(d) {
        d.city = d.city;
        d.current.weather.pr = +d.current.weather.pr;
        d.current.weather.hu = +d.current.weather.hu;
        d.current.weather.tp = +d.current.weather.tp;
        d.current.weather.ws = +d.current.weather.ws;
    });
	
  // scale the range of the data
  x.domain(current.map(function(d) { return d.city; }));
  y.domain([d3.min(current, function(d) { 
    return (d.current.weather[selection]);}), d3.max(current, function(d) { 
      return (d.current.weather[selection]) ; })])
    

  // add axis
  svg.append("g")
      .attr("class", "x axis")
      .attr("transform", "translate(0," + height + ")")
      .call(xAxis)
      .selectAll("text")
      .style("text-anchor", "end")
      .attr("dx", "-.8em")
      .attr("dy", "-.55em")
      .attr("transform", "rotate(-90)" );

  svg.append("g")
      .attr("class", "y axis")
      .call(yAxis)
      .append("text")
      .attr("transform", "rotate(-90)")
      .attr("y", 5)
      .attr("dy", ".71em")
      .style("text-anchor", "end")
      .text("Weather");

  // Add bar chart
  svg.selectAll("bar")
      .data(current)
      .enter().append("rect")
      .attr("class", "bar")
      .attr("x", function(d) { return x(d.city); })
      .attr("width", x.rangeBand())
      .attr("y", function(d) { return y(d.current.weather[selection]); })
      .attr("height", function(d) { return height - y(d.current.weather[selection]); });

  var selector = d3.select("#drop2")
    .append("select")
    .attr("id","dropdown1")
    .on("change", function(d){
    selection = document.getElementById("dropdown1");
    
    y.domain([0, d3.max(current, function(d){
      return +d.current.weather[selection.value];})]);
    x.domain(current.map(function(d){
      return d.city;}));
    
      yAxis.scale(y);
      xAxis.scale(x);

      d3.selectAll("rect")
          .transition()
          .attr("height", function(d){
            return height - y(d.current.weather[selection.value]);
          })
          .attr("x", function(d, i){
            return x(d.city);
          })
          .attr("y", function(d){
            return y(+d.current.weather[selection.value]);
          })
          .ease("linear")
          .select("title")
          .text(function(d){
            return d.city + " : " + d.current.weather[selection.value];
          });
  
        d3.selectAll("g.y.axis")
          .transition()
          .call(yAxis);
        d3.selectAll("g.x.axis")
          .attr("transform", "translate(0," + height + ")")
           .call(xAxis)
        	 .selectAll("text")
    			 .style("font-size", "8px")
      	   .style("text-anchor", "end")
      	   .attr("dx", "-.8em")
      	   .attr("dy", "-.55em")
      	   .attr("transform", "rotate(-90)" );

      });

selector.selectAll("option")
  .data(elements)
  .enter().append("option")
  .attr("value", function(d){
    return d;
  })
  .text(function(d){
    return d;
  })

});

</script>

</body>